*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*navigation bar section*/
.navbar
{
    background-color: #0096FF;
}

.navbar .navbar-nav .nav-item a
{
    padding: 15px;
}

.nav-item a:hover
{
    color: aliceblue;
}

.navbar .navbar-nav .nav-but
{
    padding: 10px;
}

/*banner image section*/
.bannr-img {
    width: 100%;
    height: auto;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  font-size:63px;
}

.container-fluid{
    position: relative;
  text-align: center;
  color: white;
}

#available{
    width: 100%;
    height: auto;
}

.payment{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}

/*programs 1*/


#programs, #payments
{
    padding: 80px 0;
}

.programs-img
{
    width: 100px;
    margin-top: 20px;
}

.programs h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before
{
    content: '';
    height: 5px;
    background: #54B0F9;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* services section*/ 
.services{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
}

.services h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
}

.roww{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.service01{
    padding: 25px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    transition: transfrom 0.5s;
}

.service01 svg{
    font-size: 40px;
    margin-bottom: 10px;
    color: #54B0F9;
}

.service01 h2{
    font-weight: 600;
    margin-bottom: 8px;

}

.service01:hover{
    background: #54B0F9;
    columns: #fff;
    transform: scale(1.05);
}

.service01:hover svg{
    color: #fff;
}


#services .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-color: #54B0F9;
}

/*Mode of payments*/
#payments{
    background-color: #00D7FF;
}

/*Why Us Section*/
#whyus
{
    padding: 0;

}

#whyus img{
    padding: 0;

}

/*carousel*/
#carousel .carousel-item img 
{  
    object-fit: scale-down;
    object-position: center;
    overflow: hidden;
    height:50vh;
}
#donation{

}
/*footer section*/
.footer{
    background: #2884cf;
}

.footer h5, strong{
    color: #fff;
}
