/*navigation bar section*/
.navbar
{
    background-color: #0096FF;
}

.navbar .navbar-nav .nav-item a
{
    padding: 15px;
}

.nav-item a:hover
{
    color: aliceblue;
}

.navbar .navbar-nav .nav-but
{
    padding: 10px;
}

.card{
    padding-top: 100px;;
}
